In [2]:
import pandas as pd

# Read CSV file into a DataFrame
df = pd.read_csv('organism.csv')

In [4]:
df.columns = [i.lower().replace(" ", "_") for i in df.columns]

In [6]:
df.to_csv('organism.csv', index=False)

In [7]:
df

,species_name,latitude,longitude,habitat_type,population_size,date_of_observation,observation_method,threat_status
0,Hyena,81.471609,-32.129441,Grassland,258,2023-01-15,Estimation,Critically Endangered
1,Lion,-70.455426,-78.417732,Wetland,447,2021-05-18,Estimation,Vulnerable
2,Cheetah,49.734316,143.489220,Forest,714,2023-04-25,Estimation,Critically Endangered
3,Lion,-26.505765,-68.012184,Desert,33,2022-10-29,Estimation,Vulnerable
4,Elephant,-73.944327,23.147967,Grassland,943,2020-09-22,Sampling,Least Concern
...,...,...,...,...,...,...,...,...
995,Zebra,78.994209,-163.506137,Desert,322,2022-04-27,Direct Count,Critically Endangered
996,Giraffe,-31.369892,3.302485,Desert,484,2021-06-06,Direct Count,Least Concern
997,Zebra,51.839720,-66.752150,Desert,963,2020-01-04,Estimation,Least Concern
998,Elephant,52.042546,-160.149627,Wetland,407,2022-02-02,Sampling,Vulnerable
999,Lion,-32.044023,-41.739753,Grassland,688,2020-05-09,Sampling,Critically Endangered