In [2]:
import pandas as pd

# Read CSV file into a DataFrame
df = pd.read_csv('/users/smalla/dumbers-ku-hackfest-2023/backend/data/water_pollution_data.csv')

In [5]:
df.columns = ['Development Category', 'Density (projects/km²)', 'Pollution Index',
       'Pollution Density']

In [10]:
df.columns = [i.lower().replace(" ", "_") for i in df.columns]

In [11]:
df

,development_category,density_(projects/km²),pollution_index,pollution_density
0,airport,5.266122,15.798367,0.333333
1,bridge,5.169649,2.584824,2.000000
2,factory,4.992655,24.963276,0.200000
3,housing,5.062770,10.125540,0.500000
4,residential housing,4.836326,12.090814,0.400000
5,road construction,5.127144,7.690716,0.666667

In [12]:
# Save the DataFrame to a JSON file
df.to_json('water_pollution.json', orient='records')